<!doctype html>
<html ng-app="groceryList">
<head>
	<title>Grocery List App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<duplicates></duplicates>
					<div ng-controller="GroceryForm as grocForm">
						<h2>Grocery Time!</h2>
						<ul class="nav nav-tabs">
							<li ng-class="{active:grocForm.isSelected(1)}">
								<a href ng-click="grocForm.setTab(1)">Single Items</a>
							</li>
							<li ng-class="{active:grocForm.isSelected(2)}">
								<a href ng-click="grocForm.setTab(2)">Meals</a>
							</li>
						</ul>
						<single-item></single-item>
						<meals></meals>
					</div>
				</div>
				<populated-list></populated-list>
			</div>
		</div>
	</main>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<!-- angular-animate -->
	<script src="//code.angularjs.org/1.3.13/angular-animate.js"></script>
	<script type="text/javascript" src="js/grocery.js"></script>
</body>
</html>